@import url(https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Madimi+One&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@400;500&display=swap);

* {
  /*outline: 1px dashed green;
    outline-offset: -1px;*/
  margin: 0;
  padding: 0;

}

main
{
  margin-top: 8em;
}

body {
  font-family: "Arsenal", sans-serif;
  color: #FFFFFF;
  background-color: #000000;

}

.contactos p {
  font-family: "Arsenal", sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 8em;
  margin-left: 0.5em;
  margin-top: 0.5em;
}

.contactos span {
  font-family: "Birthstone Bounce", cursive;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 1em;
}

h1 {
  display: inline;
  font-family: "Arsenal", sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 1.1em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;


}

h2 {

  margin-left: 1em;
  font-family: "Arsenal", sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 0.5em;
  margin-top: 0.5em;

}

h1 span {
  font-family: "Birthstone Bounce", cursive;
  color: #FFFFFF;

}

h2 span {
  font-family: "Birthstone Bounce", cursive;
  color: #FFFFFF;

}

a {
  text-decoration: none;
  color: #FFFFFF;
}

nav a:hover {
  text-decoration: underline;
  color: #FFFFFF;
}

nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;


  font-size: 1.5em;
  border-bottom: 1px solid #FFFFFF;
  padding: 0em;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1em;

}

nav a {

  margin-left: 0.5em;
  margin-right: 1em;
  text-decoration: none;
  color: #FFFFFF;
  display: flex;
}

address {
  margin-left: 6em;
  font-size: 1.4em;
}

address img {
  float: left;
  width: 1.5em;
}

address p {
  margin-left: 3em;
  margin-bottom: 1.5em;
  word-spacing: 1em;
}

p {
  margin-top: 1em;
  margin-left: 2em;
}

ul,
ol {
  margin-left: 2em;
  list-style-type: none;
}

h2 {
  margin-left: 2em;
  margin-top: 2em;

}

.menu {
  display: flex;
  gap: 10%;
  margin-right: 5%;
}

.logo {
  float: left;
  border-right: 1px solid #FFFFFF;
  padding-right: 2em;
}

h3 {
  margin-top: 2em;
  margin-left: 3em;

}

section {
  margin-left: 3em;
  display: inline-block;
  padding: 0em;
  padding-bottom: 1em;
  padding-right: 1em;
  outline: 1px solid #FFFFFF;
}

#homeimg {
  /*para centrar a imagem e redimensionar conforme tamanho do ecrã*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  width: 80%;
}

#meutrabalho {
  position: absolute;
  left: 66.6%;
  top: 30%;
  font-size: 2.5em;
}

#selecionado {
  text-decoration: underline;
}

figure {
  width: 30%;

  float: left;

  margin-bottom: 4em;
  margin-left: 3em;

  /*
  border-width: 1px;
  border-color: blue;
  border-style: solid;*/

}


figure img {
  background-color: lightblue;
  width: 100%;
}




footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 1.2em;
  word-spacing: 7em;
  text-align: center;
  border-top: 1px solid #FFFFFF;
  padding: 1em;
  background-color: #000000;
}



/* X-Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 599px) {

  figure {
    width: 80%;
  }

  body {
    background-color: rgb(31, 219, 233);
  }

  nav {
    font-size: 0.9em;
  }


  .menu {
    gap: 1%;
  }

  footer {
    font-size: 1em;
    word-spacing: 5em;
  }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  figure {
    width: 84%;
  }

  nav {
    font-size: 1.2em;
  }

  .menu {
    gap: 1%;
  }

  body {
    background-color: red;
  }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  figure {
    width: 40%;
  }

  body {
    background-color: yellow;
  }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  figure {
    width: 27%;
  }

  body {
    background-color: pink;
  }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  figure {
    width: 28%;
  }

  body {
    background-color: grey;
  }
}

/* XX-large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1440px) {
  figure {
    width: 30%;
  }

  body {
    background-color: green;
  }
}